html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
a {
color: black;
}
.h1, h1 {
    font-size: 65px;
    letter-spacing: 2px;
}
.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
}

//------------BUTTON STYLES-----------------------
.btn-default {
    color: #000;
    background-color: #fff;
    border-color: #000;
    letter-spacing: 2px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0px;
}
button#plot-submit {
  letter-spacing: 1px;
  margin: 15px 0px;
}
button#sidebar-hide-btn {
    border-radius: 32px !important;
    padding: 1px 0px 0px 4px;
    width: 30px;
    height: 30px;
}
button#sidebar-hide-btn {
    border-radius: 32px !important;
    padding: 1px 0px 0px 4px;
    width: 30px;
    height: 30px;
    margin-top: -6px;
}
.btn-primary {
    color: #fff;
    background-color: #2198FF;
    border-color: #000000;
}
.btn-primary:hover {
    color: #000000;
    background-color: #F9FF00;
    border-color: #000000;
    transition: all .5s ease-in-out;
}
.btn-primary:focus {
    color: #000000;
    background-color: #F9FF00;
    border-color: #000000;
}
.btn-primary:active:hover {
    color: #000000;
    background-color: #F9FF00;
    border-color: #000000;
}



#map {
  width: auto;
  height: 100%;
}

#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}

#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}

#aboutTabsContent {
  padding-top: 10px;
}

.progress-bar-full {
  width: 100%;
}

.white {
  color: #FFFFFF;
}

.feature-row {
  cursor: pointer;
}

//-------------SIDEBAR----------------------------
#sidebar {
  width: 250px;
  height: 100%;
  position: relative;
  margin-right: 50px;
  max-width: 100%;
  float: right;
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

#sidebar-hide-btn {
  margin-top: -2px;
}

.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  .date-range {
    color: #c8c8c8;
    font-size: 11px;
    margin-left: 5px;
  }
}

.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}

// --------------LEAFLET LAYERS------------------
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"],
.leaflet-control-layers-list input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}

//---------------NAVIGATION---------------------------
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
ul.nav.navbar-nav.navbar-right {
    letter-spacing: 1.5px;
}
.nav-tabs {
    border-bottom: 2px solid #080808;
}
.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: #FFF900;
    border: none;
}
.nav>li>a:focus {
background-color: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border: 2px solid #000;
    border-bottom: none;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px;
    letter-spacing: 1px;
}

//---------------TYPEAHEAD STYLES------------------
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}

//---------------FORM STYLES------------------------
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}

.dropdown-menu i {
    width: 17px;
}

.time-bar {
    position: absolute;
    margin-left: 3%;
    margin-right: 3%;
    bottom: 6px;
    width: 70%;
    height: 50px;
    background-color: white;
    box-shadow: 1px 1px 3px #3E3E3E;
}


.scrub-container {
    background: #FFF;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 2px solid #000;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
}

//---------------MODAL------------------------------
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 2px solid #000000;
    letter-spacing: 1px;
}

.modal {
z-index: 3000;

}

.modal-header .close {
    margin-top: -16px;
}

#disclaimer p {
    margin: 27px auto 38px;
    width: 600px;
}

#metadata i {
font-size: 100px;
}

#metadata a:hover {
  color: #2198FF;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


div#metadata {
    text-align: center;
}

.close {
    float: right;
    font-size: 47px;
    font-weight: 100;
    line-height: 1;
    color: #000;
    opacity: 1;
    text-shadow: none;
}

.close:hover {
  background-color: yellow;
  color: #000;
  transition:all .4s ease-in-out;
}

//--------------PANEL-------------------------------
.panel-default>.panel-heading {
    color: #000;
    background-color: #FFFFFF;
    border-color: #000;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

//---------------TOGGLE----------------------------
a.toggle {
    position: fixed;
    right: 0;
    top: 51px;
    display: block;
    background-color: #000000;
    color: white;
    opacity: 0.8;
    z-index: 200;
    height: 100%;
    width: 50px;
    border: none;
}
.toggle .fa {
    position: fixed;
    top: 50%;
    right: 10px;
    font-size: 30px;
}
a.toggle:hover {
    background-color:#1BABFF;
    border: none;
    opacity: 1;
    transition: all .4s ease-in-out;
  }


.years-display {

display: inline-block;
margin: 2px;

}

//-----------------CAROUSEL------------------------
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    font-size: 26px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    opacity: 0.8;
}

.carousel-control.left {
    background-color: black;
    background-image: none;
}

.carousel-control.right {
    background-color: black;
    background-image: none;
}

.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 1;
    background-color: #1BABFF;
    transition: all .4s ease-in-out;
}

.carousel .thumbnails {
padding: 0px 85px;
}

.carousel {
    position: relative;
    transition: all .6s ease-in-out;
    height: auto;
}

.carousel .thumbnail {
border:none;
}

.carousel i {
position:absolute;
top: 50%;
left: 15px;
}

.thumbnails .caption {
text-align:center;
}

ul.thumbnails {
list-style: none;
}

.stories-blurb {
    margin: 15px auto 20px;
    text-align: left;
    width: 580px;
}

#disclaimer p {
    margin: 27px auto 38px;
    width: 600px;
}

#metadata i {
font-size: 100px;
}

#metadata a:hover {
color: #2198FF;
-webkit-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}



div#metadata {
    text-align: center;
}

#sidebar .panel-body {
padding: 5px 5px 5px 20px;
}

#sidebar .panel-body .h4, h4 {
    font-size: 18px;
    letter-spacing: 1px;
}


#about h5 {
line-height: 29px;
}

#about .col-sm-6.col-md-4 {


}

#about .thumbnail {
    border: none;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#about .thumbnail .caption {
    padding: 9px;
    color: #333;
    height: 130px;
}

/* Leaflet Slider */

.leaflet-control-layers-expanded {
    padding: 6px 6px 6px 6px;
    color: #333;
    background: #fff;
}


.leaflet-timeline-controls .sldr-ctrl-container {
    float: left;
    width: 92%;
}

.leaflet-timeline-controls .button-container button {
    position: relative;
    width: 18%;
    height: 31px;
    margin: 0px 3px !important;
    border: 2px solid black;
    background-color: white;
}

.leaflet-timeline-controls {
    width: 375px;
    text-align: center;
}

.leaflet-timeline-controls * {
    vertical-align: middle;
    margin: 0 auto !important;
}


.leaflet-timeline-controls .button-container button:hover {
    background-color: #2198FF;
    transition: all .4s ease-in-out;
}


output {
    display: block;
    padding: 2px 0px;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0 auto;
    line-height: 1.42857143;
    color: #000000;
}


.leaflet-timeline-controls input[type=range] {
    width: 98%;
}

.leaflet-control-layers {
    box-shadow: 0px 2px 5px rgba(74, 74, 74, 0.77);
    border-radius: 0px;
}

/* End Leaflet Slider */


.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .5s; /* Firefox < 16 */
  -ms-animation: fadein .5s; /* Internet Explorer */
  -o-animation: fadein .5s; /* Opera < 12.1 */
  animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



/* Laptop/Tablet */

//-------MEDIA QUERIES
@media (min-width: 992px){
  .modal-lg {
    width: 100%;
    margin: 0px auto;
  }
}

@media (max-width: 992px){
  .navbar .navbar-brand {
      font-size: 18px;
  }

  h1 {
      font-size: 32px !important;
      word-wrap: break-word;
      }

  .nav-tabs > li {
      float: left;
      width: 50%;
      margin: 16px 0px 16px 0px !important;
      text-align: left;
  }

  .modal .nav>li>a {
      position: relative;
      display: inline !important;
      padding: 10px 15px;

      }

  .modal .nav-tabs > li.active > a {
      color: #000;
      cursor: default;
      background-color: #fff;
      border: 2px solid #000;
      border-bottom: 2px solid #000 !important;
  }

  .stories-blurb {
      margin: 15px auto 20px;
      text-align: left;
      width: 90% !important;
      font-size: 12px;
  }

  .carousel .thumbnails {
      padding: 0px 70px !important;
  }

}
/* End Laptop/Tablet */


/* Smartphone */

@media (max-width: 768px){

  .stories-blurb {
      margin: 15px auto 20px;
      text-align: left;
      width: 100% !important;
      font-size: 12px;
  }

  #storiesBody .container-fluid {
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
  }

}

@media (max-width: 667px){
  #sidebar {
    width: 185px;
    height: 100%;
    position: relative;
    max-width: 100%;
    float: right;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

  #sidebar .panel-body {
  padding: 10px 0px 15px 0px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

  #disclaimer p {
    margin: 27px auto 38px;
    width: 90%;
  }
}

@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}


/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
